
.content-report{  
    .container{
        margin-top: 20vh;
        .row-report{
            height: 30vh;
            .content-row{
                position: relative;
                .txt-title1{
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    position: absolute;
                    ion-card{
                        height: 170px;
                        width: 170px;
                        border-radius: 20px;
                        margin-top: 35%;
                        ion-icon{
                            color: #00A859;
                            font-size: 72px;
                            font-size: 72px;
                            padding-top: 20%;
                            padding-left: 33%;
                        }
                        .txt-card-tt1{   
                                text-align: center;
                                font-size: 1rem;
                                font-weight: 600;
                                margin-top: 1.5vh;
                                padding: 0 2vh;
                                color: #222;
                        }     
                    }
                }      
            }
        }
    }
   
}
