.content{
    background-color: #f5f5f5;
    .list-content{
    .card-img{
        text-align: -webkit-center;
        .load-img{
            border-radius: 10px;
            height: 100px;
            width: 100px;
            box-shadow: 0px 0px 10px 2px gray;
            img{
                height: 100px;
                 width: 100px;
            }
            .card-title{
                position: absolute;
                // top: 36%;
                margin-top: 12.5vh;
                font-size: 3vh;
                width: inherit;
                font-weight: bold;
            }
        }
    }
    .txt-toggle{
        direction: rtl;
        ion-item{
            font-size: 1rem;
        }
    }
    .infor{
        margin-top: 5%;
        margin: 4vh;
       .dayaddred{
        .ion-label {
            margin: 13px 8px 13px 8px;
            color: black;
        }
       }
       .name-item{
           .id-item{
               .txt_item{
                // ion-label{
                //     display: flex;
                //     font-size: 1rem;
                   
                // }
                .txtname-item1{
                    font-size: 1rem;
                    color: #999;
                }
                .txt_name_item{
                    .label1{
                        font-size: 1rem;
                    }
                }
                ion-select{
                    min-width: 27vh;
                    text-align: end;
                }
                .txt_name_item1{
                    display: flex;
                    .label2{
                        font-size: 1rem;
                        margin-right: 1vh;
                    }
                }
               }
           }
    }
    }
    .txt-toggle{
        direction: rtl;
        ion-item{
            font-size: 1rem;
        }
    }
    .btn-button1{
        text-align: center;
        .btn_1{
            border-radius: 6px;
            font-size: 1rem;
            padding: 2vh;
            background-color: orange;
            width: 35vw;
            color: #ffff;
        }
    }
}
    
}