<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Danh Mục Sản Phẩm</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="conteiner-list">
  <div class="list-full">
    <div class="searchbar">
      <div class="searchbar-tt">
        <ion-searchbar placeholder="Tìm tên,mã,barcode sản phẩm">
        </ion-searchbar>
        <div class="txt-barcode">
          <ion-icon name="barcode"></ion-icon>
        </div>
      </div>
    </div>
    <div class="txt_name_pro" *ngFor="let i of list_pro">
      <h1>Tổng <span style="color: #FF0000;">{{ i.id}} </span> sản phẩm</h1>
      <div class="txt_select">
        <ion-select class="txt_name_select" interface="popover">
          <ion-select-option class="select_1" value="dos">Tất cả </ion-select-option>
          <ion-select-option class="select_1" value="win95">Chưa chọn</ion-select-option>
          <ion-select-option class="select_1" value="win98">Đã chọn</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="list-product1">
      <ion-item *ngFor="let i of listgoods" (click)="gotoproductdetail()">
        <ion-thumbnail slot="start">
          <img src="../../../assets/img/download.jpg">
        </ion-thumbnail>
        <ion-label>
          <h3>{{i.name}}</h3>
          <div class="txt_name2">
            <p>SKU:<span class="span1">{{i.sku}}</span></p>
            <div class="ionicon1">
              <ion-icon class="icon1" name="arrow-forward"></ion-icon>
            </div>

          </div>
          <div class="txt_name1">
            <p>Giá nhập:<span class="span2">{{i.entryprice}}</span></p>
            <p>Giá bán:<span class="span2">{{i.price}}</span></p>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </div>
</ion-content>