ion-content{
  .content_date{
    padding: 1.5vh 1vh 0vh 1vh;
    margin: 0px 12px 30px 12px;
    display: flex;
    .date{
        width: 50%;
        .txt_date{
        font-size: 2vh;
        font-weight: bold;
        }
    .select_date{
        font-weight: bold;
        display: flex;
        width: fit-content;
        box-shadow: 0px 2px 3px 0px rgb(201, 201, 201);
        border-radius:10px ;
        padding: 0.6vh;
        min-height: 0;
        vertical-align: middle;
        .item-inner{
            padding: 0;
        }
    }
    ion-icon{
        color: #098cf7;
        font-size: 1rem;
        // padding-left:1vw;
        // vertical-align: middle;
        margin: auto;
    }
    
    ion-datetime{
        // display: inline-flex;
        font-size: 0.8rem; 
        padding: 0vw 0vw 0vw 0vw;
        text-align: center;
        margin: auto;
        .datetime-text {
          color: #35be1b;
        }
    }
    }  
    .date_start{
       
        display: flex;
        justify-content: space-around;
        .txt_date1{
           
            font-size: 0.8rem;
            margin: auto;
        }
        .select_date{
            color: #00A859;
            float: right;
            margin-right: 1.2vh;
            width: 70%;
            height: 2rem;
        }
    }
    .buttonadd{  
      .btn-add{
          height: 2rem;
        width: 50vw;
          font-size: 0.8rem;
           border-radius: 10px;
            background-color: #ffffff;
            box-shadow: 0px 2px 3px 0px rgb(201, 201, 201);
        }
 }
}
    .list_item{
        .total_item{
            ion-label{
                font-size: 0.8rem;
                span{
                    font-size: 0.8rem;
                    color: red;
                }
            }
            ion-badge{
                background-color: #ffffff;
                color: red;
                font-size: 0.8rem;
                margin-right: 15vh;
            }
        }
        .list-opening{
            ion-item{
                ion-thumbnail{
                  height: 54px;
                  width: 54px;
                    img{
                        height: 54px;
                        width: 54px;
                        border-radius: 10px;
                    }
                }
                ion-label{
                  h3{
                    font-weight: 600;
                    font-size: 1rem;
                  }
                  .txt_name2{
                    display: flex;
                    justify-content: space-between;
                    p{
                      color: black;
                      font-size: 0.8rem;
                      .span1{
                        color: black;
                        margin-left: 5vh;
                        font-size: 0.8rem;
                      }
                     
                    }
                
                    .ionicon1{
                      display: flex;
                      .name{
                        margin-right: 4vw;
                      }
                    }
                   
                }
                .txt_name1{
                    display: flex;
                    justify-content: space-between;
                  p {
                      font-size: 0.8rem;
                    .span2{
                      color: red;
                      margin-left: 1vh;
                      font-size: 0.8rem;
                    }
                  }
                  .txtprice{
                      font-size: 0.8rem;
                    margin-right: 0vh;
                    .span3{
                      color: red;
                      margin-left: 1vh ;
                      font-size: 0.8rem;
                    }
                  }
                      
                  }
                }
                
            }
            @media screen and(min-width:600px){
              ion-item{
                  ion-thumbnail{
                    height: 54px;
                    width: 54px;
                      img{
                          height: 54px;
                          width: 54px;
                          border-radius: 10px;
                      }
                  }
                  .txt_name2{
                      display: flex;
                      justify-content: space-between;
                      .ionicon1{
                        display: flex;
                        .name{
                          margin-right: 4vw;
                        }
                      }
                      .span1{
                        color: #222;
                        margin-left: 6vh;
                      }
                  }
                  .txt_name1{
                      display: flex;
                      justify-content: space-between;
                      .span2{
                        color: red;
                        margin-left: 2vh !important;
                      }
                      .txtprice{
                        margin-right: 3vh !important;
                        .span3{
                          color: red;
                          margin-left: 2vh !important;
                        }
                      }
                    }
              }
            }
           
        }
    }
}